body{
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Header */

.header-container{
  height: 100%;
  width: 100%;
  background-color:  #2F3439;
  background-image: url('./logo.png');
  background-repeat: no-repeat;
  background-position:  center top;
  background-size: 30%; /*contain*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 112px;
  position: relative;
}

h1{
  align-items: left;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #1460c8;
}

h2{
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #7eb9f2;
}

p{
  color: #e1e4e4;
  font-size: 30px;
}

a:hover {
  background-color: #1460c8;
}

/* menu */

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
  width: 50px;
  height: 2px;
  background-color: white;
  position: absolute;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 26px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
  top: 46px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0);
}

#toggle {
  display: none;
}

/* menu hb */

.menu {
  position: absolute;
  top: 28px;
  right: 30px;
  background-color: transparent;
  height: 4px;
  width: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px white;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}

.menu-itens {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out 0s;
}

.menu-itens ul {
  list-style-type: none;
}

.menu-itens ul li a {
  margin: 10px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 50px;
}

/* animação do menu */

#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: translate(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  top: 48px;
}

#toggle:checked + .checkbox {
  background-color: #1460c8;
}

#toggle:checked ~ .menu {
  box-shadow: 0px 0px 0px 100vmax  #2F3439;
  z-index: 1;
}

#toggle:checked ~ .menu-itens {
  visibility: visible;
  opacity: 1;
}

/* footer */

.footer {
  height: 100px;
  width: 100%;
  background-color: #1460c8;
  color: #e1e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
}